---
import HeaderActions from "@/components/layout/HeaderActions.astro";
import HeaderBrand from "@/components/layout/HeaderBrand.astro";
import HeaderNav from "@/components/layout/HeaderNav.astro";

interface Props {
	isCompact?: boolean;
}

const { isCompact = false } = Astro.props;
const menuId = `navigation-menu-${crypto.randomUUID()}`;
---

<header
	class:list={[
		"group relative flex items-center",
		isCompact ? "mb-6 gap-2 sm:mb-8" : "mb-6 sm:mb-8 sm:ps-18",
	]}
	data-header-root
>
	<div class:list={["flex", !isCompact && "sm:flex-col"]}>
		<HeaderBrand isCompact={isCompact} />
		<HeaderNav isCompact={isCompact} menuId={menuId} />
	</div>
	<HeaderActions isCompact={isCompact} menuId={menuId} />
</header>
