---
import { getAllPosts, getUniqueTagsWithCount } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const allPosts = await getAllPosts();
const allTags = getUniqueTagsWithCount(allPosts);

function getMaterialsLabel(count: number) {
	if (count % 10 === 1 && count % 100 !== 11) return "материал";
	if (count % 10 >= 2 && count % 10 <= 4 && (count % 100 < 12 || count % 100 > 14)) {
		return "материала";
	}

	return "материалов";
}

const meta = {
	description: "Все темы, о которых есть материалы на сайте",
	title: "Все теги",
};
---

<PageLayout meta={meta}>
	<h1 class="page-title mb-6">Теги</h1>
	<ul class="space-y-4">
		{
			allTags.map(([tag, val]) => (
				<li>
					<a
						class="group flex items-center gap-x-2 rounded-md bg-text/5 px-4 py-3 text-link no-underline transition-colors duration-200 ease-out hover:bg-text/10 focus-visible:bg-text/10 focus-visible:outline-none"
						href={`/tags/${tag}/`}
						title={`Открыть материалы с тегом: ${tag}`}
					>
						<span class="transition-colors duration-200 ease-out group-hover:text-link-hover group-focus-visible:text-link-hover">&#35;{tag}</span>
						<span class="inline-block text-text/70">
							- {val} {getMaterialsLabel(val)}
						</span>
					</a>
				</li>
			))
		}
	</ul>
</PageLayout>
